<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, aliquam! Fugiat reiciendis dolorem excepturi, expedita laudantium recusandae officia, ipsa voluptatum vitae tempore natus qui, autem dolorum eius cumque doloremque similique necessitatibus repudiandae dolor incidunt voluptate.</p>
    <h3><%= 4*5 %></h3>
    <button>Button</button>
</body>
</html>